.message-toast {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    .toast-container {
      position: fixed;
      z-index: 999999;
      /*overrides*/
      border: solid 1px #ccc;
      position: relative;
      overflow: hidden;
      margin: 0 0 6px;
      padding: 24px;
      width: 400px;
      background-color: #fff;
      background-position: 15px center;
      background-repeat: no-repeat;
      // box-shadow: 0 0 12px #999999;
      color: #ffffff;
      border-radius: 5px;
      filter: alpha(opacity=80);
      .toast-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .toast-title {
          color: #1f1f1f;
          font-size: 20px;
          font-weight: 700;
          letter-spacing: 0;
          line-height: 0;
        }
      }
      .toast-content {
        display: flex;
        align-items: center;
        // justify-content: center;
        padding: 24px 0;
        .toast-content__left {
          .ic-warning {
            margin-right: 10px;
          }
        }
        .toast-content__right {
          display: flex;
          justify-content: center;
          flex-direction: column;
          .text-message {
            color: #000;
            font-size: 13px;
            padding: 3px 0;
            span {
              color: #000;
              font-size: 13px;
              font-weight: 600;
              margin-right: 2px;
            }
            .span__right {
              font-size: 13px;
              color: #000;
              font-weight: 500;
            }
          }
        }
      }
      .toast-bottom {
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 3px 0;
        flex-direction: row-reverse;
        // background-color: #f5f5f5;
        .btn {
          width: 80px;
          min-width: 80px;
          &.secodary {
            border: solid 1px #ccc;
          }
          & + .btn {
            margin-right: 8px;
          }
        }
      }
    }
  }
  .toast-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .show-toast {
    transition: 1s ease-in-out;
  }
  body {
    .toast-container {
      top: 0;
    }
  }
  