.ms-content{
    display: block;
    flex: 1;
    background-color: rgb(236, 238, 241);
    margin: 24px 12px 12px 24px;
    max-width: calc(100%) !important;
    height: calc(100vh - 56px - 36px);

    position: relative;
    overflow: hidden;
}
.header__content{
    height: 56px;
    display: flex;
    padding: 24px;
    position: relative;
    align-items: center;
}
.page__header {
    height: 56px;
    display: flex;
    justify-content: space-between;
}

.page-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.page__toolbar{
    height: 56px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    padding-right: 24px;
}
.page__table{
    padding: 16px;
    padding-top: unset;
    background-color: #fff;
    height: calc(100vh - 282px);
}
.paging {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    border: none;
    position: absolute;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
}
select{
    border: none;
}
option{
}

.paging-left {

}

.paging-right {
    display: flex;
}

.paging-right>div+div {
    margin-left: 16px;
}

.paging-page-limit {
    display: flex;
    align-items: center;
}

.paging-page-range {
    display: flex;
    align-items: center;
}

.paging__page-button {
    display: flex;
    align-items: center;
    margin-left: 6px !important;
}

.paging__page-button button {
    border: unset;
    font-size: 14px;
    padding: 0;
    background-color: #fff;
}

.paging__page-button button+button {
    margin-left: 6px;
}