.icon-tong-quan {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -33px -1587px;
    width: 24px;
    height: 24px;
}

.icon-tien-mat {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -78px -1588px;
    width: 24px;
    height: 24px;
}
.icon-hop-dong {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -121px -1590px;
    width: 24px;
    height: 24px;
}
.icon-mua-hang {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -165px -1589px;
    width: 24px;
    height: 24px;
}
.icon-ban-hang {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -206px -1588px;
    width: 24px;
    height: 24px;
}
.icon-qlhd {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -254px -1589px;
    width: 24px;
    height: 24px;
}
.icon-kho {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -294px -1589px;
    width: 24px;
    height: 24px;
}
.icon-cong-dung-cu {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -339px -1590px;
    width: 24px;
    height: 24px;
}
.icon-tai-san-co-dinh {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -382px -1589px;
    width: 24px;
    height: 24px;
}
.icon-thue {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -427px -1591px;
    width: 24px;
    height: 24px;
}
.icon-gia-thanh {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -471px -1590px;
    width: 24px;
    height: 24px;
}
.icon-tong-hop {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -514px -1590px;
    width: 24px;
    height: 24px;
}
.icon-ngan-sach {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -427px -1664px;
    width: 24px;
    height: 24px;
}
.icon-bao-cao {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -552px -1593px;
    width: 24px;
    height: 24px;
}
.icon-pttc {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -251px -1667px;
    width: 24px;
    height: 24px;
}
.icon-9-cham {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -428px -92px;
    width: 16px;
    height: 16px;
    margin-top: 10px;
    padding-right: 16px;
    margin-left: 0 !important;
}

.icon-stripes {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -847px -35px;
    width: 24px;
    height: 24px;
    margin: 20px 0px 0px 15px;
    cursor: pointer;
}
.icon-down {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -1129px -365px;
    width: 24px;
    height: 24px;
    margin-top: 24px;
}
.icon-down-small {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -1800px -478px;
    width: 8px;
    height: 5px;
}
.icon-user {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -352px -894px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.icon-bell {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -788px -30px;
    width: 24px;
    height: 24px;
    margin: 0 10px;
    margin-top: 6px;
}
.icon-help {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -732px -31px;
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.icon-close {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -147px -147px;
    width: 24px;
    height: 24px;
    margin-top: 4px;
    margin-right: 10px;
}
.icon-reload {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -425px -201px;
    width: 21px;
    height: 23px;
}
.icon-combobox-function {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -894px -357px;
    width: 20px;
    height: 20px;
}
.icon-arrow-left {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -36px -361px;
    width: 8px;
    height: 14px;
    margin: 0;
    opacity: 1;
}

.icon-arrow-right {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -84px -361px;
    width: 8px;
    height: 14px;
    opacity: 1;
}
.icon-drow-user {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -467px -414px;
    width: 14px;
    height: 14px;
    margin-top: 16px;
    z-index: 1;
}
.icon-3-gach-white {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -316px -37px;
    width: 16px;
    height: 14px;
}
.icon-combobox-pagging {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -564px -365px;
    width: 20px;
    height: 20px;
}
.icon-warring {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -817px -145px;
    width: 24px;
    height: 24px;
}
.icon-succes {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -990px -462px;
    width: 36px;
    height: 36px;
    padding-right: 10px;
}
.icon-error {
    background-image: url(/src/assets/img/Sprites.64af8f61.svg);
    background-position: -752px -462px;
    width: 36px;
    height: 36px;
}
